{% extends "base.html" %}

{% load staticfiles%}

{% load edit_link %}

{% block title %}Main page{% endblock title %}

{% block auth_form_items %}
   {{ block.super }}
   {% if user.is_authenticated %}
   <li><a href="{% url 'addTeam' %}">Add team</a></li>
   <li><a href="{% url 'edit' pk=person.pk %}">Edit</a></li>
   <li><a href="{% edit_link person %}">(admin)</a></li>
   {% endif %}
{% endblock auth_form_items %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if person %}
            <div class="col-md-6">
                <p>{{ person.first_name }}</p>
                <p>{{ person.last_name }} </p>
                <p>{{ person.date_of_birthday }}</p>
                <p>Photo:</p>
                {% if person.person_pic %}
                <p><img class="picture-size" src='{{ MEDIA_URL }}{{ person.person_pic }}' alt="Person's photo" width="200" height="200"></p>
                {% else %}
                <p><img class="picture-size" src='{{ STATIC_URL }}images/no-img.jpg' alt="Person's photo" width="200" height="200"></p>
                {% endif %}
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 col-md-pull-3">
                <p><b>Contacts:</b></p>
                <p>E-mail: {{ person.email }}</p>
                <p>Jabber: {{ person.jabber }}</p>
                <p>Skype: {{ person.skype }}</p>
                <p>Other:</p>
                {{ person.other_contacts | linebreaks }}
                <p>Bio parameters:</p>
                {{ person.bio | linebreaks }}
            </div><!-- /.col-md-6 -->
            {% elif 'login' in request.path %}
            <div class="col-md-12">
                <p>Please, login!</p>
            </div><!-- /.col-md-12 -->
            {% elif not person %}
            <div class="col-md-12">
                <p>No records found in db!</p>
            </div><!-- /.col-md-12 -->
            {% endif %}
        </div><!-- /.row -->
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p><a href="{% url 'requests' %}">requests</a></p>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock content %}